<div  class="container">
    <h1>Users Feedback</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Location</th>
            <th>Feedback</th>
        </thead>
        <tbody>
            <tr *ngFor="let feedback of feedbacks ">
                <td>{{feedback.name}}</td>
                <td>{{feedback.location}}</td>
                <td>{{feedback.feed}}</td>
                
            </tr>
        </tbody>
    </table>


</div>


<mat-paginator style="margin-top: 200px;" [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>