<div class="bg">
    <div class="section">
        <h1 class="head"><span class="textcolor">Scrap</span> Price</h1><br><br><br>
        <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                  PAPER 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>


          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    PLASTIC 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>



          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    METALS 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>


          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    E WASTE 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>



          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    OTHERS 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>

          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    MOTOR
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion><br>


          <mat-accordion >
           
            <mat-expansion-panel style="margin-left: 140px; margin-right: 140px;" (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title style="font-weight: 500;">
                    TWO/FOUR WHEELER SCRAP 
                </mat-panel-title>
                <mat-panel-description class="categry">
                  categories
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              RS. 10 / KG

                Carton Box<br>

                RS. 5 / KG

                Magazine<br>

                RS. 15 / KG

                News Paper<br>

                RS. 8 / KG

                Note Book<br>

                RS. 2 / KG

                Mixed Paper<br>

                RS. 2 / KG

                Mixed Card Boar<br>

                RS. 6 / KG

                Text Book<br>

                RS. 2 / KG

                Carton Thin
             
            </mat-expansion-panel>
          </mat-accordion>
          
          <br><br><br><br><br><br>
    
    

        
    </div>










</div>
