<div class="bg">
    <div class="section">
        <h1 class="head"><span class="textcolor">S</span>ervices</h1><br><br><br> 
        
        
        <h2 class="head2"><span class="textcolor2">RESIDENTIAL</span> SCRAP REMOVAL</h2>
        <p class="para">Team RUBBLE specializes in removing scrap/trash from your residential homes in and across Kerala. If you have scrap/trash at home and you wanted to remove it immediately, just give us a call or schedule an appointment online or through the application available at play store and we’ll be on our way. Our experienced, friendly and professional staff will be at your doorstep on the scheduled date, quickly and efficiently weigh your scrap/trash and immediately pay you money by cash/transfers then and there.</p>
        <p class="para2">Book Service:<a style="font-style: italic;" href="/src/app/location.html"><span class="textcolor">      Click here</span></a>  or download the mobile app:<a style="font-style: italic;" href="/src/app/location.html"><span class="textcolor">       Download Now</span></a> </p>



        
        <br><br><br>
        
        <h2 class="head2"><span class="textcolor2">COMMERCIAL </span> SCRAP REMOVAL</h2>
        <p class="para">
            Businesses can't afford to have junk lying around and accumulating. If it accumulated, it takes up valuable space overall to diminish the view of the workspace. If you want it to be clean, by getting rid of the old junk/scraps, Schedule an appointment with us or upload the pic of your scrap/junk at (help@rubble.in) and get an approx Quote. Our friendly team members will arrive on time, quickly, and professionally remove the scrap hassle-free. You and your company can enjoy the following benefits if you avail of our service:- Faster removal / Faster disposal / Stress-free transition.</p>
        <p class="para2">Book Service:Get a quote by emailing us at help@rubble.in or share your details in our contact us page:<a  style="font-style: italic; " href="/src/app/location.html"><span class="textcolor">       Contact Us</span> </a> </p>

        
    </div>
    <img style="width: 450px; margin-left: 860px; margin-top: -1600px;" src="assets/2.png">
</div><br><br><br><br><br><br><br><br><br>
