<div><br><br>
    <div>
        <h1 class="head"><span class="textcolor">Work</span> Process</h1><br><br><br>

        <mat-card class="cards1">
            <span style="color: #67DDB0;" class="material-icons">
                date_range
                </span>
                <br>
            
            
           <h2 class="process">SCHEDULE</h2>

            <p class="para">Download “RUBBLE” app from Google play store. Raise a pickup through “RUBBLE” App or from our website www.rubble.in. We always recommend our customers to use application for easy booking service.</p>
        </mat-card>
        <mat-card class="cards2">
            
            <span class="material-icons" style="color: #67DDB0;">
                accessibility_new
                </span>
                <br>
           <h2>BE READY</h2> 

           <p class="para">Please keep the trash ready on the scheduled date/time thereby not wasting valuable time of our customers.</p>
        </mat-card>
        <mat-card class="cards2">
            
            <span class="material-icons" style="color: #67DDB0;">
                local_shipping
                </span>
                <br>
            
           <h2>PICK UP</h2> 

           <p class="para">Our team will be available at your door step on the schedule date/time slot for the trash/scrap pickup.</p>
        </mat-card>
        <mat-card class="cards2">
            
            <span class="material-icons" style="color: #67DDB0;">
                balance
                </span>
                <br>
            
            <h2>WEIGHING</h2>

            <p class="para">Our team will further segregate your trash/scrap and weigh it infront of you, as per the rate chart and fix the amount.</p>
        </mat-card>
        <mat-card class="cards2">
            
            
            <span class="material-icons" style="color: #67DDB0;">
                local_atm
                </span>
                <br>
            
           <h2>EARN CASH</h2> 

           <p class="para">On completion of the weighing process the team will pick the scrap/trash and settle the payment by cash/transfer then and there.</p>

           
        </mat-card>
        
    </div>
    
</div>
