
<div class="bg">

  
    <div class="section">
        <h1 class="head"><span class="textcolor">Log</span>    In</h1><br>
        <h2 class="head2"><span class="textcolor2">Recycle it all,</span>  no matter how small!</h2><br><br>

        <input  type="text" class="name" placeholder="  Enter your firstname" name="name" required><br><br> 
        <input type="text" class="name" placeholder="  Enter your lastname"  required><br><br> 
        <input type="text" class="name" placeholder="  Enter your location"  required><br><br>
      <input type="number" class="name" placeholder="  Enter your mobile number"  required><br><br>
      <input type="email" class="name1" placeholder="  Enter your email"  required><br><br>
      
      <input style="margin-left: 200px;" type="checkbox"> I accept Rubble<span class="textcolor"> Terms and Conditions</span><br><br>
      <button mat-button (click)="openDialog()"  class="btn2">SUBMIT</button>
      
      <img style="width: 40%; margin-left: 680px; margin-top: -350px;" src="assets/4.png">


     
     
</div><br><br><br><br><br><br><br><br><br><br>
</div>
