<div class="bg">
    <div class="section">
        <h1 class="head"><span class="textcolor">S</span>ervices</h1><br><br>
        <h2 class="head2"><span class="textcolor2">Connect With Us To</span> Know More</h2>
        <p class="para">
            Have something in your mind you're interested in discussing with us? Drop us a line below, we’d love to talk.
            </p>

            <br><br><br>

        
<div class="contact">
            <h2 class="head3">Office Location</h2>
            <span class="material-icons">
                room
                </span>
                <p class="para2">
                    A4 Mercantiles Pvt Ltd,
A Square, 14/291 N,<br>
Edathala PO,<br>
Kuzhivelippady,<br>
Kochi - 683561<br>

                    </p>
                </div>   
                <mat-divider style="width: 20%; margin-left: 140px;" ></mat-divider>   
        
<br>

<div class="phone">
    <h2 class="head3">Phone</h2>
    <span class="material-icons">
        phone
        </span>
        <p class="para2">
            +91 8925362658

            </p>
        </div>  <br> 
        <mat-divider style="width: 20%; margin-left: 140px;" ></mat-divider>   

<br>
<div class="phone">
    <h2 class="head3">Email</h2>
    <span class="material-icons">
        email
        </span>
        <p class="para2">
              help@rubble.in

            </p>
        </div>  <br> 
        <mat-divider style="width: 20%; margin-left: 140px;" ></mat-divider>   

<br>


<img style="width: 50%; margin-left: 500px; margin-top: -900px;" src="assets/5.png"><br><br><br><br><br><br>





<div class="forms">
   

      <input type="text" class="name" placeholder="  Name" name="name" required><br><br>
      <input type="email" class="email" placeholder="  Email" name="email" required>
      <input type="number" class="number" placeholder="  Mobile" name="mobile" required><br><br>
      <textarea style="height: 100px; width: 350px; color: rgb(65, 68, 66);border-radius: 10px; margin-left: 500px;"> Tell us about project</textarea><br><br>
      <button mat-button (click)="openDialog()" class="btn2">SEND MESSAGE</button>
      
</div>


</div><br><br><br><br><br><br><br><br><br><br>
</div>