

<div style="height: 320%;" class="homebg">
    
    <div class="content">

<h1 style="font-weight: 600; font-size: 60px; color: #67DDB0;margin-top: -200px; margin-left: 130px; padding-top: 190px; ">Sell your scrap<br><br> with Rubble</h1><br>
<div>
    <p class="subtext">Schedule your convenient time for pickup<br> and we will collect the materials from <br>your doorstep. You can select the categories<br> so that our team can be prepared <br>for required pickup.</p>
</div><br>
<div class="button">
    <!-- <button  class="btn1" onclick="location.html">LOCATION
        

    </button> -->
    <button class="btn2" (click)="goToPage('location')">LOCATION</button>
    <!-- <a class="button2" href="location.component.html">BOOK NOW</a> -->
    
    
    
    

</div>
<div>
    <!-- <img style="width: 100%; " src="assets/bg.jpg"> -->
    <img style="margin-left: 650px; margin-top: -370px;" src="assets/6.png" alt="rubbleimg" width="600px">
</div>
</div><br><br><br><br><br><br><br><br><br><br><br><br>


<div>
<h1 style="margin-left: 140px; font-size: 30px;"><span class="textcolor2">Be part of the solution,</span> not the pollution</h1>

<p class="para">Now Rubble can be picked up from your location with a few simple clicks on Rubble App. Download the app and support the recycle initiative</p>

<img style="width: 200px; margin-left: 140px;" src="assets/22.png">
<img style="width: 40%; margin-left: 780px; margin-top: -300px;" src="assets/23.png"><br><br><br><br><br><br><br><br><br>


<h1 style=" font-size: 30px; text-align: center;"><span class="textcolor2">About </span> Us</h1>
<h2 style="text-align: center; font-size: 23px; color: #67DDB0; font-weight: 400;">"To protect our landfills from plastic and recycle maximum for the environment"</h2>
 
<p class="para3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati
    eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra. Quisque rutrum. </p>

    <img style="width: 30%; margin-left: 450px;" src="assets/1nw.png"><br><br><br><br>
    <!-- <div class="footer">

        <h1 style="margin-left: 80px;padding-top: 50px; font-size: 40px;">Rubble</h1>
        <p class="paragraph">Recycle for better tomorrow</p>
    </div> -->
</div>
</div>